.about__experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    text-align: left;
    font-size: smaller;
    color: rgb(141, 141, 141);
   }
   
   .about__heading {font-size:smaller;}
   .about{margin:50px 0;}
   .numbers {color:#d51f48;}
   @media (max-width:800px) {
    .about__experience {
        display: inline;
    }}
    .years {border: 2px solid gainsboro;
        padding: 20px 20px;
    margin: 15px;}
    .tours {border: 2px solid gainsboro;
        padding: 20px 20px;
        margin: 15px;
        }
    .clients {border: 2px solid gainsboro;
        padding: 20px 20px;
        margin:15px;
        }
    .guides {border: 2px solid gainsboro;
        padding: 20px 20px;
    margin: 15px;}
                    .about__part-two, .about__part-first {
                        text-align: justify;

                }
                .about__text-second {color: rgb(141, 141, 141)};
                h2 {font-weight: 200;}

/* ниже переделать код */
                .about__container {max-width: 980px;
                    margin:auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    position: relative;
                    text-align: center;
                }
                img {max-width: 100%;
                    max-height: 100%;}
                        @media (max-width:800px) {
                            .about__container{
                                display: inline;
                            }}
        
