.about__experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    text-align: center;
   }
   
   .about__heading {font-size:smaller;}
   .about{margin:0 30px;}
   .numbers {color:#d51f48;}
   @media (max-width:800px) {
    .about__experience {
        display: inline;
    }}
    .years {border: 2px solid gainsboro;
        padding: 0 4px;}
    .tours {border: 2px solid gainsboro;
        padding: 0 4px;
        }
    .clients {border: 2px solid gainsboro;
        padding: 0 4px;
        }
    .guides {border: 2px solid gainsboro;
        padding: 0 4px;}
        
        .about__container {display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            text-align: center;
        ;}
        img {max-width: 100%;
        max-height: 100%;}
            @media (max-width:800px) {
                .about__container{
                    display: inline;
                }}